Repository RocketChat/rocketchat.github.io, pull requests merged in 2018-07, with the labels that each got.

#329 Update partners page
  Rocket-Chat-Partnership-Program.pdf
  _data/partners.yml
  become-partner.html
  images/partners/Zenvialogo-white.png
  images/partners/mconf-updated.png
  images/partners/rtmlogo-white.png
  partners.html
Labels: improvement

#327 Blog post for iOS release 3.0.0
  _posts/2018/07/2018-07-17-ios_3_0_0_released.md
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/app_experience.gif
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/cover-ios-3.jpg
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/ipad_1.png
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/ipad_2.png
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/onboarding.gif
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/quick_actions.png
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/sorting.png
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/themes.png
  images/posts/2018/07/2018-07-17-ios_3_0_0_released/user_profile.png
Labels: blog post, new

#369 v.66 Blog Post
  _posts/2018/07/2018-07-17-v66-release-post.md
  images/posts/2018/07/2018-07-17-v66-release-post/0.66-cover.jpg
Labels: blog post, new

#371 Clarify monthly/annual pricing
  support.html
Labels: improvement

#372 Add download link to post
  _posts/2018/07/2018-07-17-ios_3_0_0_released.md
Labels: blog post, improvement
