Repository RocketChat/rocketchat.github.io, pull requests merged in 2018-08, with the labels that each got.

#390 Move Events cat to second in line
  _posts/2016/09/2016-09-21-bossie-awards-2016-the-best-open-source-applications.md
  _posts/2017/02/2017-02-17-call-to-community-google-cloud-next-2017.md
  _posts/2017/05/2017-05-22-rocketchat-funds-more-students-to-take-part-in-google-summer-of-code.md
  _posts/2017/05/2017-05-31-celebrate-with-us.md
  _posts/2017/06/2017-06-08-rocket-blasts-in-san-jose.md
  _posts/2017/07/2017-07-02-manish-kakoti-extending-communications-beyond-teams-with-rocketchat-federation.md
  _posts/2017/07/2017-07-02-mrinal-dhar-developing-end-to-end-encryption-with-signal-protocol.md
  _posts/2017/07/2017-07-02-pradeep-kumar-bridging-the-email-and-rocketchat-divide-with-personal-email-gateway.md
  _posts/2017/07/2017-07-05-sachin-shinde-add-rocketchat-to-any-app-with-mobile-sdk.md
  _posts/2017/07/2017-07-06-naman-gupta-smaller-faster-and-more-bandwidthefficient-client-with-pwa.md
  _posts/2017/07/2017-07-30-karan-batra-automatic-channels-creation-in-rocketchat.md
  _posts/2017/07/2017-07-30-lucas-woo-instant-iphone-chat-integration-with-live-chat-sdk.md
  _posts/2017/10/2017-10-27-rocket-chat-wins-all-things-open-startup-competition.md
  _posts/2018/04/2018-04-18-rocket-chat-summit-2018.md
Labels: improvement

#348 Zapier announcement post
  _posts/2018/07/2018-07-01-public-launch.md
  images/posts/2018/07/2018-07-01-zapier-public-launch/gmail-rc.png
  images/posts/2018/07/2018-07-01-zapier-public-launch/zapier&RC.png
  images/posts/2018/07/2018-07-01-zapier-public-launch/zapier-logo.jpg
  images/posts/2018/07/2018-07-01-zapier-public-launch/zapierxRC.png
  images/posts/2018/07/2018-07-01-zapier-public-launch/zaps-triggers-actions.jpg
Labels: WIP, blog post, new

#397 Fix blog style
  _layouts/default.html
  _posts/2018/07/2018-07-17-gsoc-project-2.md
  _sass/pages/blog.scss
Labels: improvement

#396 Update Samar's education situation
  _posts/2018/07/2018-07-17-gsoc-project-2.md
Labels: blog post, improvement

#393 GSoC post 3
  _posts/2018/08/2018-08-01-GSoC-Post-3.md
  images/posts/2018/08/GSoC-Post-3/API-language-2.png
  images/posts/2018/08/GSoC-Post-3/Karan-Bedi-GSoC-3.png
  images/posts/2018/08/GSoC-Post-3/cloud text to speech.png
  images/posts/2018/08/GSoC-Post-3/cover-gsoc-3-cropped.jpeg
  images/posts/2018/08/GSoC-Post-3/s2t-demo.mp4
Labels: WIP, blog post

#382 Welcoming end-of-life HipChat customers to Rocket.Chat
  _posts/2018/08/2018-08-7-welcome-to-rocketchat.md
  images/posts/2018/08/2018-08-07-welcome-to-rocketchat/ios_apps.png
  images/posts/2018/08/2018-08-07-welcome-to-rocketchat/rc_android.png
  images/posts/2018/08/2018-08-07-welcome-to-rocketchat/rc_descktop_app.png
  images/posts/2018/08/2018-08-07-welcome-to-rocketchat/rc_ipad.png
Labels: blog post, new

#358 Marketplace page
  _layouts/en/default.html
  _layouts/landing.html
  _sass/pages/landing.scss
  _sass/ui/form.scss
  images/marketplace/close.svg
  images/marketplace/hero@3x.jpg
  images/marketplace/search.svg
  jquery.js
  marketplace.html
  marketplace.js
  polyfill/clipboard.min.js
  styles.scss
Labels: new

#403 Marketplace Vision Post
  _posts/2018/08/2018-08-31-marketplace-vision-post.md
  images/posts/2018/08/marketplace-post/Marketplace-cover.png
Labels: WIP, blog post, new

#422 [NEW] Pricing page
  _layouts/default.html
  _layouts/en/default.html
  _sass/components/card.scss
  _sass/pages/pricing.scss
  _sass/pages/support.scss
  cloud.html
  community.html
  contact.html
  images/community/writte_documentation.png
  index.html
  main.js
  pricing.html
  styles.scss
  support.html
Labels: new
